{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content=" width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="manifest" href="{% static "/manifest.json" %}">
    <link rel="icon" type="image/png" sizes="144x144" href="{% static "icon-144x144.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "icon-192x192.png" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.8.28/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.26.1/dist/apexcharts.min.js"></script>
    <title>{% block title %}Meeow!{% endblock %}</title>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
  <script>
    // Refresh page when returning to it after it has been opened before.
    let lastVisibilityState = null;
    document.addEventListener('visibilitychange', function() {
      const state = document.visibilityState;
      const shouldRefresh = lastVisibilityState === 'hidden' && state === 'visible';
      lastVisibilityState = state;
      if (shouldRefresh) {
        console.log('[INFO] Refreshing page...');
        window.location = window.location;
      }
    });
  </script>
</html>
