{% extends "base.html" %}

{% block content %}

<div class="container">
  <section class="hero has-text-centered">
    <div class="hero-body">
      <div>
        <img src="{{ cat_picture_location_url }}" style="max-width: 184px">
        <img src="{{ cat_picture_url }}" style="max-width: 184px">
      </div>
      <p class="subtitle mt-5">
        <b>{{ catflap.cat_name }}</b> is likely
      </p>
      <p
        class="
          title
          {% if catflap.cat_inside %}
          has-text-success
          {% else %}
          has-text-danger
          {% endif %}
        "
      >
        {{ catflap.cat_location }}
      </p>
      <p class="subtitle">at the moment</p>
      <div class="has-text-grey">
        Wrong? Set location manually:
        <a href="{{ set_inside_url }}">inside</a> /
        <a href="{{ set_outside_url }}">outside</a>
      </div>
    </div>
    <div class="has-text-grey">
      Wrong? Set location manually:
      <a href="{{ set_inside_url }}">inside</a> /
      <a href="{{ set_outside_url }}">outside</a>
    </div>
  </section>
</div>

{% endblock %}
